#dropdownMenu {
    position: absolute;
    display: grid;
    height: auto;
}

#dropdownMenuNavigationHolder {
    grid-area: 2 / 1;

    margin: 10px 0 0 0;
    padding: 10px 0 10px 0;

    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color_red);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#dropdownMenuNavigationHolder > * {
    background: transparent;
    border: none;

    font-size: 15px;

    cursor: pointer;

    color: var(--color_white);
    stroke: var(--color_white);
}
#dropdownMenuNavigationHolder > *:hover {
    color: var(--color_red);
}
#dropdownMenuNavigationHolder > *:hover  svg > path{
    stroke: var(--color_red);
}
#dropdownMenuNavigationHolder .image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    aspect-ratio: 1;
}