.userIcon {
    width: 15px;
    aspect-ratio: 1/1;
    fill: none;
}
.userIcon path {
    fill: var(--color_lightgray);
}

.userIconAlt {
    width: 20px;
    aspect-ratio: 1/1;
    fill: none;
}
.userIconAlt path {
    fill: var(--color_white);
}