#historyViewer {
    grid-area: 2 / 1;
    padding: 20px 0 20px 20px;

    display: flex;
    flex-direction: column;
    justify-content: left;

    overflow: auto;
    box-sizing: border-box;
}
#historyHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
#trashButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;

    background: none;
    border: 2px solid var(--color_red);
    border-radius: 10px;

    color: var(--color_white);
    font-size: 15px;

    padding: 7px;

    cursor: pointer;

    height: max-content;
}

#historyLines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    overflow-y: auto;
    scroll-behavior: smooth;

    box-shadow: 
        inset 0px 15px 8px -10px var(--color_purple),
        inset 0px -15px 8px -10px var(--color_purple); 
}
#fixScrollViewerReverse {
    flex: 1 1 auto;
}

.historyLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;

    padding: 10px 15px;
}
.historyEntry {
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.historyEntry .Locked {
    color: var(--color_green);
}
.historyEntry .UnLocked {
    color: var(--color_red);
}