#navigation {
    grid-row: 1 / 1;

    width: auto;
    height: 100dvh;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
#navigation #appName {
    justify-content: left;
    padding: 20px;
}

#navigation nav {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 15px 0 0;
    height: 100%;
    padding: 10px 0 0 0; 
}

#navigation nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#navigation nav ul li {
    font-size: 20px;
    cursor: pointer;
}

.selected {
    color: var(--color_red);
    cursor: default !important;
}
