#authentication {
    display: grid;

    align-content: center;
    justify-items: center;

    width : 100dvw;
    height: 100dvh;

    gap: 3px;
}

#appName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#appName span {
    font-size: 20px;
}


#authenticationForm {
    grid-area: 2/1;
}

#formOptionnal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#formOptionnal div {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;

    font-size: 17px;
    color: var(--color_lightgray);
}
#formOptionnal div input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 20px;
    aspect-ratio: 1/1;

    border: 1px solid var(--color_lightgray);
    border-radius: 3px;

    outline: none;
    cursor: pointer; 
}
#formOptionnal div input[type="checkbox"]:checked {
    background: url('../../../../Ressources/Images/tick.svg') no-repeat;
    background-size: 12px;
    background-position: center;
    border-color: var(--color_red);
}
#formOptionnal div input[type="checkbox"]:focus {
    box-shadow: 0 0 0 2px var(--color_red);
}

#cpr {
    color: var(--color_lightgray);
    font-size: 15px;
}