header {
    grid-area: 1 / 1;

    width: auto;
    height: max-content;

    padding: 20px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;

    gap: 30px;
}

#profileButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 12px;

    background: none;
    border: 2px solid var(--color_red);
    border-radius: 10px;
    padding: 7px;

    cursor: pointer;
}
#profileButton #userName {
    color: var(--color_white);
    font-size: 15px;
}

#lastLockerStateInfos {
    display: flex;
    flex-direction: column;
}

#actualLockerState {
    display: inline-block;
    width: 15px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    background: var(--color_lightgray);
}
#actualLockerState.Locked {
    background: var(--color_green);
}
#actualLockerState.UnLocked {
    background: var(--color_red);
}