#lockerForms {
    grid-area: 2 / 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}
#newLockerForm {
    grid-area: 1 / 1;
    border-right: 2px solid var(--color_lightgray);
}
#deleteLockerForm {
    grid-area: 1 / 2;
}

#newLockerForm, #deleteLockerForm {
    padding: 20px;

    display: flex;
    flex-direction: column;

    gap: 30px;
}

.borderFlex {
    display: flex;
}