#profileViewer {
    grid-area: 2 / 1;
    padding: 20px 0 20px 20px;

    display: flex;
    flex-direction: column;
    justify-content: left;

    overflow: auto;
    box-sizing: border-box;
}
#profileHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
#trashButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;

    background: none;
    border: 2px solid var(--color_red);
    border-radius: 10px;

    color: var(--color_white);
    font-size: 15px;

    padding: 7px;

    cursor: pointer;

    height: max-content;
}

#profileAction {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#twoFormColumn {
    grid-area: 1 / 1;
    height: 100%;
    width: 100%;
}
#formModifyInformation {
    padding-top: 0;
    padding-bottom: 0;

    width: 100%;

    box-sizing: border-box;
}
#formModifyUserMail {
    padding-top: 0;
    padding-bottom: 0;

    width: 100%;

    box-sizing: border-box;
}

#formModifyPassword {
    grid-area: 1 / 2;

    justify-content: center;
    height: 100%;
    width: 100%;

    box-sizing: border-box;
}