#baseFrame {
    display: grid;

    grid-template-columns: max-content auto;

    width: 100dvw;
    max-width: 100dvw;
    height: 100dvh;
    max-height: 100dvh;

    /* 
        Navigation : grid-area: 1 / 1;
        mainFrame : grid-area: 1 / 2; 
    */
}
#mainFrame {
    grid-area: 1 / 2;
    display: grid;

    grid-template-rows: max-content auto;

    width: 100%;
    height: 100dvh;
    max-height: 100dvh;

    /* 
        Header : grid-area: 1 / 1; 
        historyViewer, LockerViewer : grid-area: 2 / 1;
    */
}

.rowTextHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px ;
}
.hideShowButton {
    cursor: pointer;
    color: var(--color_lightgray);
    min-width: 43px;

    user-select: none;
}
.textInfo {
    color: var(--color_lightgray);
}