.formHolder {
    width: max-content;
    height: max-content;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 30px;
}
.formTitle {
    margin: 0;
}
.formMainContentHolder {
    display: flex;
    flex-direction: column;

    gap: 15px;
}
.formInputHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.formTwoColumns {
    gap: 30px;
}
.formInputHolderBorder {
    border: 2px solid var(--color_red) !important;
    border-radius: 50px;

    padding: 10px;

    overflow: hidden;
}
.formInputField {
    flex: 1;

    background-color: transparent;
    border: none;

    font-weight: bold;
    font-size: 17px;

    caret-color: var(--color_white);
    color: var(--color_white);
}
.formInputField:focus {
    outline: none;
}
.formInputField::placeholder {
    color: var(--color_lightgray);
    user-select: none;
}
input:-webkit-autofill, input:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px var(--color_purple) inset;
    -webkit-text-fill-color: var(--color_white);
}
.formRowTextHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.formAlignHolderRight {
    width: max-content;
    display: flex;
    align-self: flex-end;
}
.formClickableText {
    color: var(--color_red);
    font-size: 17px;
    cursor: pointer;
}
.formSubmitButton {
    cursor: pointer;

    font-weight: bold;
    font-size: 20px;

    background-color: var(--color_red);
    color: var(--color_white);
}