:root {
    --color_purple: #25273E;
    --color_red: #EE3A57;
    --color_green: #3AEE8D;
    --color_white: #FFFFFF;
    --color_lightgray: #A3A6B5;
}

* {
    font-family: "Poppins_normal";
    /* Remove the blue area when there is a touch on the screen on mobile */
    -webkit-tap-highlight-color: transparent;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: transparent var(--color_red);
}
body {
    background-color: var(--color_purple);
    color: var(--color_white);

    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color_red);
  border-radius: 10px;
}